In [1]:
from xgboost import XGBRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("San Diego_featured_data.csv")
df.head()

,All sky irradiance,Clear sky irradiance,ALLSKY ICI,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX,CLRSKY_SFC_PAR_TOT
0,3.58,3.68,0.70,63.57,0.55,66.20
1,3.20,3.60,0.62,57.87,0.53,65.50
2,2.52,3.46,0.49,47.44,0.50,64.25
3,2.93,3.48,0.57,55.34,0.49,65.82
4,0.78,3.42,0.15,16.23,0.21,64.96

In [3]:
df.shape

(1917, 6)

In [4]:
df.isnull().sum()

All sky irradiance      0
Clear sky irradiance    0
ALLSKY ICI              0
ALLSKY_SFC_PAR_TOT      0
ALLSKY_SFC_UV_INDEX     0
CLRSKY_SFC_PAR_TOT      0
dtype: int64

In [5]:
df.describe()

,All sky irradiance,Clear sky irradiance,ALLSKY ICI,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX,CLRSKY_SFC_PAR_TOT
count,1917.000000,1917.000000,1917.000000,1917.000000,1917.000000,1917.000000
mean,4.983871,6.196766,0.591205,93.750250,-25.176808,114.777783
std,1.650000,1.759774,0.135167,31.056769,161.037349,33.397850
min,0.710000,3.170000,0.100000,14.970000,-999.000000,57.500000
25%,3.710000,4.500000,0.500000,68.450000,0.740000,82.050000
50%,4.950000,6.370000,0.620000,93.840000,1.410000,117.660000
75%,6.240000,7.890000,0.700000,117.910000,1.980000,147.820000
max,8.860000,9.000000,0.780000,162.740000,2.980000,162.850000

In [6]:
y= df[['All sky irradiance']]
scaler_X = StandardScaler()
X_scaled = scaler_X.fit_transform(df)

scaler_y = StandardScaler()
y_scaled = scaler_y.fit_transform(y.values.reshape(-1, 1)).flatten()

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size = 0.2,shuffle=False)

In [8]:
model=XGBRegressor(tree_method='approx',subsamples=0.7,n_estimators=300,max_depth=9,learning_rate=0.1,colsample_bytree=1)
import time
start=time.time()
model.fit(X_train,y_train)
end=time.time()
continential= end-start
print("convergence time:",continential)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/xgboost/core.py:158: UserWarning: [11:26:43] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "subsamples" } are not used.

  warnings.warn(smsg, UserWarning)

convergence time: 0.38049888610839844

In [9]:
start=time.time()
pred = model.predict(X_test)
end=time.time()
continential=end-start
print("inference time:",continential)
pred

inference time: 0.002062082290649414

array([-1.5088574 , -0.8819392 , -0.05225241, -0.29454768,  0.8857173 ,
       -1.3465079 ,  0.4512378 , -0.48995304,  0.8843193 ,  0.14350305,
        0.8542748 ,  0.9082435 , -0.00875846,  0.93384427,  1.1665018 ,
        0.84770185,  0.9299567 ,  1.2457522 , -0.7971883 , -0.27442065,
        0.3643816 ,  1.0451764 , -0.21251182,  0.6071014 , -0.79150087,
       -0.89625376,  0.7723434 , -0.49083123, -0.8130795 ,  0.58318704,
       -0.86411893,  0.2054626 ,  1.4085165 ,  1.700697  ,  1.6526868 ,
        0.39847487,  0.9056508 , -0.12465014,  0.11267841,  1.2015045 ,
        1.6808056 ,  1.5756462 ,  1.5222566 ,  1.3153857 ,  1.0074817 ,
        1.0856228 ,  0.77336574, -1.2057664 , -0.41923505,  1.1961718 ,
        1.8431804 ,  1.571384  ,  1.9045733 ,  1.9712667 ,  2.0337055 ,
        1.8218092 ,  0.82951725,  0.142904  , -0.35971397,  1.4443796 ,
        1.790491  ,  1.4893446 ,  1.224348  ,  1.6526668 ,  1.6864315 ,
        0.30736393,  1.019816  ,  2.0490677 ,  2.076817  ,  1.9886721 ,
        1.0120082 ,  1.5419183 ,  1.1528895 ,  1.0082352 ,  1.7214862 ,
        1.1399702 , -0.6989967 , -0.32875055,  1.4201845 ,  1.5232881 ,
        0.91130626,  0.09522496,  1.6821659 , -0.9730435 , -0.12813212,
        1.4453603 ,  2.1335597 ,  2.2236042 ,  2.2219408 ,  2.184873  ,
        1.7414292 ,  0.50798756,  1.9776591 ,  1.9339796 ,  0.9706712 ,
       -0.5179835 ,  1.0816842 ,  0.48371026,  0.860511  , -0.18838038,
       -0.6047533 , -0.635695  , -0.2859681 , -0.59352654, -0.0645328 ,
        1.2605323 , -0.03878621, -0.24303156,  0.3928708 ,  0.85990727,
       -0.05488048,  1.4944628 ,  1.7784331 ,  1.9187975 ,  2.0834873 ,
        2.0576777 ,  1.72273   ,  1.2284145 ,  1.8440102 ,  1.6692791 ,
        1.3714211 ,  1.8778732 ,  1.3723387 ,  0.9696807 ,  1.5766844 ,
        1.4906173 ,  1.5997709 ,  1.7227446 ,  1.4856993 ,  1.0115135 ,
        0.32549113, -0.1440285 ,  0.56822354,  0.5091892 ,  1.3708472 ,
        0.72026116,  0.8467731 ,  0.48586962,  0.7313949 ,  0.84857106,
        1.7164905 ,  0.8323914 , -0.49840212, -0.05628182, -0.16173716,
       -0.31338167,  1.2907959 ,  1.371475  ,  1.4875133 ,  1.5980291 ,
        1.4449856 ,  1.3243914 ,  1.3176261 ,  0.6621782 ,  1.5278956 ,
        1.2897147 ,  0.39759058,  0.27938083,  0.7184013 ,  0.36025268,
        0.65684354,  0.03427058,  1.0384846 ,  0.9889169 , -0.4501577 ,
        0.09537061,  0.0369949 ,  1.1713935 ,  1.1371385 ,  1.3118489 ,
        1.2421778 ,  0.5346774 ,  0.93203753,  0.6910703 ,  0.95180196,
        0.8915255 ,  1.1096772 ,  1.0675756 , -0.79949486, -1.1198577 ,
        0.2887378 , -0.10467309, -0.16353768,  0.37982553,  0.17491004,
        0.3088053 ,  0.5657248 ,  0.75099045,  0.6655174 ,  0.7289245 ,
        0.8510988 ,  0.10703925,  0.3388249 ,  0.7823136 ,  0.8529573 ,
        0.68573576,  0.09551404, -0.44770104, -0.6400247 ,  0.34190387,
        0.28926477,  0.5791061 ,  0.44073042,  0.4852934 ,  0.38253996,
        0.09360023,  0.24193579, -0.78179383, -0.14973012, -0.6387902 ,
       -0.4469509 , -0.3491111 , -0.17290735,  0.30704126,  0.31421402,
        0.20754029, -0.25169513, -0.03238076, -0.1923098 , -0.16440336,
       -0.67489827, -0.976161  , -1.4254501 , -1.5124767 , -1.4600072 ,
       -1.3480545 , -0.97688663, -0.16063792,  0.03424244, -0.06901209,
       -0.12334456, -0.14736287, -0.8130272 , -0.3363688 , -0.3897554 ,
       -0.57547563, -0.3155187 , -1.3231932 , -1.4531314 , -0.7223284 ,
       -1.1644996 , -0.46793947, -0.35919636, -0.37505305, -0.461033  ,
       -0.4989722 , -0.54837584, -0.44682914, -0.42196622, -0.6384492 ,
       -0.8974714 , -0.9397476 , -0.7341287 , -1.0004776 , -1.2298051 ,
       -1.204411  , -0.8660591 , -1.0951132 , -0.9641214 , -0.5691928 ,
       -0.5926958 , -0.72110915, -0.63823515, -0.65222883, -0.7102793 ,
       -0.67008615, -0.6829598 , -0.91789144, -0.73273134, -2.3308935 ,
       -1.3451712 , -1.3522493 , -1.7120351 , -1.1850985 , -1.8883764 ,
       -0.9236701 , -1.2389064 , -0.8095467 , -0.7897559 , -1.7047607 ,
       -0.8324723 , -0.84630144, -0.79595953, -0.7604044 , -1.1461494 ,
       -1.7510129 , -2.22116   , -0.83235765, -1.1203687 , -1.9285691 ,
       -1.0616827 , -0.95662785, -0.77041155, -1.1816052 , -0.7840931 ,
       -0.89840335, -1.177922  , -1.2996473 , -1.4960958 , -1.5515878 ,
       -1.3275273 , -1.02119   , -0.9579481 , -0.7887738 , -0.6564935 ,
       -0.7337256 , -0.75911087, -0.5816394 , -0.55219615, -0.59412104,
       -0.60608315, -1.1968119 , -1.6720034 , -1.7003446 , -0.6210633 ,
       -1.0916213 , -1.8056623 , -0.7978292 , -1.207263  , -0.511438  ,
       -0.549466  , -0.63863885, -1.064739  , -0.36604714, -0.94530696,
       -1.8127899 , -0.97638154, -1.2730811 , -0.42543814, -0.12295064,
       -0.28572467, -0.72547776, -1.2729403 , -1.8007859 , -0.489913  ,
       -0.5758549 , -0.35013598, -1.0654435 , -0.31562135, -1.013152  ,
       -0.42390543,  0.11359248,  0.28053826,  0.20616136, -0.01781933,
        0.36204636,  0.43484464,  0.4250743 ,  0.19026773,  0.41494656,
        0.4853224 ,  0.38324046,  0.49824455,  0.6047768 ,  0.6080811 ,
       -1.2737585 ,  0.4991047 ,  0.63830805,  0.46660146, -1.3468393 ,
        0.24159136,  0.5682076 ,  0.17483136,  0.450845  ,  0.4511587 ,
        0.03449784, -0.37520286, -0.74599195,  0.5681631 ,  0.77587116,
        0.82926667,  0.7798984 ,  0.8055767 ,  0.94670355,  1.0146996 ,
        0.50932634,  1.1176423 , -0.5663059 ,  0.74624056,  1.2714555 ,
        1.3099866 ,  1.068499  ,  0.6920213 ,  1.3639686 ], dtype=float32)

In [10]:
pred.shape

(384,)

In [11]:
prediction = pred.reshape(pred.shape[0], 1)

In [12]:
prediction.shape

(384, 1)

In [13]:
predictions = scaler_y.inverse_transform(prediction.reshape(-1, 1))

In [14]:
predictions.shape

(384, 1)

In [15]:
Actual = scaler_y.inverse_transform(y_test.reshape(-1, 1))

In [16]:
Actual.shape

(384, 1)

In [17]:
Calculated =pd.DataFrame(predictions, columns = ['Prediction'])

In [18]:
Actual=pd.DataFrame(Actual, columns=["Actual"])

In [19]:
import os
import pandas as pd

# Concatenate Calculated and Actual DataFrames along the columns
combined = pd.concat([Calculated, Actual], axis=1)

# Define the path to the existing folder
save_dir = "/Users/ubaidahmed/Desktop/Daily_SI_forecasting /San Diego/Models/XgBoost"

# Define the filename within the specified folder
filename = os.path.join(save_dir, "XgBoost_output.csv")

# Save the combined DataFrame to CSV
combined.to_csv(filename, index=False)

print(f"File saved to {filename}")

File saved to /Users/ubaidahmed/Desktop/Daily_SI_forecasting /San Diego/Models/XgBoost/XgBoost_output.csv

# Error Calculation

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("XgBoost_output.csv")
features= list(df)
features

['Prediction', 'Actual']

In [3]:
df=df*1000

In [4]:
z= df["Actual"]
x= df["Prediction"]

In [5]:
import math
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(z,x)
RMSE= math.sqrt(MSE)
from sklearn.metrics import mean_absolute_error
MAE= mean_absolute_error(z,x)
from sklearn.metrics import mean_absolute_percentage_error
MAPE= (mean_absolute_percentage_error(z,x))*100
print("Mean Square Error is:",MSE)
print("Root Mean Square Error is:",RMSE)
print("Mean Absolute Error is:",MAE)
print("Mean Absolute Percentage Error is:",MAPE)

Mean Square Error is: 368.22679518580736
Root Mean Square Error is: 19.18923644092717
Mean Absolute Error is: 10.509029947916659
Mean Absolute Percentage Error is: 0.22635851635022514

In [6]:
max=x.max()
min=x.min()
mean=x.mean()

print("Max",max)
print("Min",min)
print('Mean',mean)

Max 8651.859
Min 1138.9006
Mean 5226.8107575520835

In [7]:
NRMSE= (RMSE/(max-min))*100
print("Normalized Root Mean Square Error:",NRMSE)

Normalized Root Mean Square Error: 0.2554151829314957

In [8]:
NRMSE= (RMSE/(mean))*100
print("Normalized Root Mean Square Error:",NRMSE)

Normalized Root Mean Square Error: 0.36713088211967765

In [9]:
relative_errors = (z - x) / z
squared_relative_errors = relative_errors ** 2
abs_relative_errors = np.abs(relative_errors)

In [10]:
msre = np.mean(squared_relative_errors)
rmsre = np.sqrt(msre)
mare = np.mean(abs_relative_errors)
rmspe = np.sqrt(np.mean((abs_relative_errors * 100) ** 2))

In [11]:
print("Mean Square Relative Error is:",msre)
print("Root Mean Square Relative Error is:",rmsre)
print("Mean Absolute Relative Error is:",mare)
print("Root Mean Square Percentage Error is:",rmspe)

Mean Square Relative Error is: 2.267446662568394e-05
Root Mean Square Relative Error is: 0.004761771374781022
Mean Absolute Relative Error is: 0.0022635851635022515
Root Mean Square Percentage Error is: 0.4761771374781022